# Backend
PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<dbname>?retryWrites=true&w=majority
MONGO_DB_NAME=treasurehunt
ADMIN_API_TOKEN=<admin_api_token>
ADMIN_USERNAME=<admin_username>
ADMIN_PASSWORD=<admin_password>
INVIGILATOR_USERNAME=<invigilator_username>
INVIGILATOR_PASSWORD=<invigilator_password>
PLAYER_MASTER_PASSWORD=<player_master_password>


# Frontend (Vite)
VITE_API_BASE_URL=http://localhost:5001
