# Backend
PORT=5001
ADMIN_API_TOKEN=treasureofcodeadmin543214321321211
ADMIN_USERNAME=toc_admin
ADMIN_PASSWORD=DEVloper2026
INVIGILATOR_USERNAME=toc_invigilator
INVIGILATOR_PASSWORD=Invigilator2026
PLAYER_MASTER_PASSWORD=TreasureOfCode2026


# Frontend (Vite)
VITE_API_BASE_URL=http://localhost:5001
